<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="ConnStringDB"
             value="Server=localhost;Database=lab11_db;User ID=sa;Password=!QWERTYuiop1223;Encrypt=false"/>
        <add key="Mode"
             value="unlinked"/>
    </appSettings>
</configuration>
